.main-section {
    width: 80%;
}

.game-table td, .results-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-table thead td, .game-table tbody tr td:nth-child(1) {
    font-weight: 600;
}

.game-table td {
    border: 1px solid #3d4852;
    text-align: center;
}

.game-table {
    border-collapse: collapse;
}

.game-table td.disabled {
    background-color: #ccc;
}

.game-table {
    width: calc(50% - 15px);
    float: left;
}

.game-table:nth-child(2) {
    margin-left: 30px;
}

.main-section, .generate-section, .final-teams, .final-results {
    float: left;
}

.generate-section {
    width: 20%;
    text-align: center;
}

.generate-section button {
    clear: both;
}

.results-table {
    width: 100%;
}

.results-section {
    padding-top: 100px;
    clear: both;
}

.final-teams {
    padding-bottom: 50px;
    width: 80%;
}

.final-results {
    width: calc(20% - 40px);
    margin-left: 40px;
    margin-top: 15px;
}

.results-table tr td {
    width: 33.33%;
}

.results-table {
    border-collapse: collapse;
}

.results-table thead tr td{
    border-bottom: 1px solid #3d4852;
    font-weight: 600;
    font-size: 1.4em;
}